<div class="container1">
  <%= simple_form_for @event, defaults: { input_html: { class: '' } } do |f| %>
    <%= f.input :address %>
    <%= f.input :category %>
    <%= f.submit "Report"%>
  <% end %>
</div>
