<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['pk.eyJ1IjoiYzA5MyIsImEiOiJjbDM0ZXJ1c2UwMHNjM2NydDgwbzFmNHFpIn0.1B_sdHHEmhwmRNwpnT1Hrg'] %>"></div>
