
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<div style="width: 100%; height: 100%; position: relative;"

  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <% @markers.each do |marker|%>
 <% end %>
</div>
<div class="sidebar">
  <h1>Reports</h1>
  <div id="reports"></div>
</div>
