.mapboxgl-ctrl-geocoder {
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  width: 100%;
}
.mapboxgl-ctrl-geocoder--input {
  display: block !important;
}

.event_category{
  margin-left: 40px;
  width: 197px;
}
